*/config/development
*/config/staging
*/config/production
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
thumbs.db

# Folders to ignore
.hg
.svn
publish
.idea

# Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project